<div class="inicio-contenedor">
  <header class="header">
    <div class="contenido">
      <h1>Conectando solidaridad con causas reales</h1>
      <p>
        Nuestra plataforma une a personas con ganas de ayudar y a organizaciones que necesitan apoyo. 
        Haz que tu aportación cuente o da visibilidad a los proyectos de tu ONG.
      </p>
      <div class="botones">
        <a routerLink="/registro-donante" class="btn btn-primario">Quiero ser Donante</a>
        <a routerLink="/registro-ong" class="btn btn-secundario">Registrar mi ONG</a>
      </div>
    </div>
  </header>

  <div class="ayuda">
    <div class="contenido-ayuda">
      <h1>Bienvenido a DonacionesSolidaria</h1> 
      
      <p>Cada pequeño gesto transforma vidas. Conoce las causas que necesitan tu apoyo.</p>

      <a routerLink="/ayudas" class="btn-explorar">
        Ver proyectos de ayuda <i class="fa-solid fa-arrow-right"></i>
      </a>
    </div>
  </div>

  <section class="info">
    <h2>¿Cómo funciona DonacionesSolidarias?</h2>
    <div class="tarjetas-contenedor">
      <div class="tarjeta">
        <div class="icono">📝</div>
        <h3>1. Regístrate</h3>
        <p>Crea tu cuenta de forma rápida y segura. Verificamos cada ONG para garantizar la máxima transparencia en nuestra red.</p>
      </div>

      <div class="tarjeta">
        <div class="icono">🔍</div>
        <h3>2. Explora Causas</h3>
        <p>Descubre las diferentes campañas de ayuda publicadas por organizaciones verificadas que necesitan tu colaboración.</p>
      </div>

      <div class="tarjeta">
        <div class="icono">💖</div>
        <h3>3. Genera Impacto</h3>
        <p>Haz tu donación y sigue el progreso de las causas. Tu ayuda se convierte en acciones reales y medibles.</p>
      </div>
      
    </div>
  </section>

